@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 650px;
    margin: 0 auto;
}

header {
    position: relative;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 2px solid #EAEAEE;
}

header h1 {
    display: flex;
    margin-left: 30px;
    font-size: 30px;
    font-family: Oswald;
    font-size: 19px;
    font-weight: 400;
    line-height: 28.16px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #222222;
}

header ul {
    display: flex;
    gap: 35px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #222222;
    font-family: Source Serif Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.04px;
    letter-spacing: 0.16em;
    text-align: left;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;

}

header ul li a:hover {
    color: #007bff;
    transform: scale(1.1);
    border-bottom: 1px solid #222222;
    padding-bottom: 2px;

}

header ul img {
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

}

.main-image img {
    width: 180px;
    height: 180px;
    border-radius: 5px;

}

.main-image h2 {
    font-family: "Source Serif Pro";
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #222222;
    margin-top: 35px;
}

.player {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 35px;
}

.player img {
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.player img:hover {
    transform: scale(1.3);
}

.progress-bar {
    flex-grow: 1;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
    margin-right: 10px;
    /* position: relative; */
    color: white;
    cursor: pointer;
}

.progress {
    width: 30%;
    height: 100%;
    background-color: #333;
    border-radius: 4px;
}

.subscribe {
    align-items: center;
    gap: 10px;
}

.subscribe h2 {
    padding-bottom: 12px;
    font-family: Source Serif Pro;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.04px;
    letter-spacing: 0.16em;
    text-align: center;
}

.subscribe-links {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.subscribe-links a img {
    width: 24px;
    height: 24px;
    transition: 0.2s ease-in-out;
}

.subscribe-links a:hover img {
    transform: scale(1.2);
}

.episodes {
    margin-top: 90px;
    /* width: 650px;
    height: 160px; */
}

.episode {
    padding-bottom: 65px;
    transition: all 0.3s ease-in-out;
}

.episode:hover {
    transform: scale(1.05);
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.episode-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.episode-title h6 {
    font-family: Source Serif Pro;
    font-size: 12px;
    font-weight: 600;
    line-height: 12.53px;
    text-align: left;
    color: #7247CA;
}

.episode-title p {
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.54px;
    text-align: left;
    color: #979797;
}

.episode-text {
    padding-top: 10px;
    padding-bottom: 12px;
}

.episode-text h3 {
    font-family: Source Serif Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: #222222;
}

.episode-text p {
    font-family: Source Serif Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.listen-now {
    display: flex;
    align-items: center;
}

.listen-now p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Source Serif Pro;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.04px;
    letter-spacing: 0.16em;
    text-align: left;
    color: #7247CA;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding-top: 20px;
}

.listen-now p:hover {
    color: #007bff;
}

.pagination {
    border-radius: 4px;
    /* background-color: #f5f5f7; */
    display: flex;
    gap: 20px;
    margin-top: 60px;
    cursor: pointer;
    color: #555555;
    transition: 0.3s ease-in-out;
    width: 160px;
}

.pagination div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.pagination div:hover {
    background-color: #eaeafa;
    color: #222222;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}

.team-title {
    display: block;
    padding-top: 60px;
    padding-bottom: 25px;
}

.team {
    display: flex;
    gap: 69px;
}

.team-member {
    transition: all 0.3s ease-in-out;
}

.team-member:hover {
    transform: scale(1.05);
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.04px;
    letter-spacing: 0.16em;
    text-align: left;
    padding-top: 18px;
    padding-bottom: 10px;
    color: #7247CA;
}

.team-member p {
    font-family: Source Serif Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.55px;
    text-align: left;
    color: #222222;
}

.member-link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 75px;
    height: 16px;
    padding-top: 38px;
}

.member-link a {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 24px;
    height: 24px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.member-link a:hover {
    transform: scale(1.2);
}

.member-link a img {
    width: 18px;
    height: 18px;
}

.posts-title {
    font-family: Source Serif Pro;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}

.latest-post {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 25px;
}

.post {
    display: flex;
    gap: 35px;
}

.post-text h3 {
    font-family: Source Serif Pro;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: #222222;
}

.post-text p {
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.54px;
    text-align: left;
    color: #979797;
    padding-top: 15px;
    padding-bottom: 38px;
}

.post-text a {
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: #7247CA;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.post-text a:hover {
    color: #007bff;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.viev-blog {
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.54px;
    text-align: left;
    color: #7247CA;
    padding-top: 35px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding-bottom: 30px;
}

.viev-blog:hover {
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
    color: #007bff;
}

.footer-content {
    display: flex;
    gap: 310px;
    padding-top: 100px;
    border-top: 2px solid #EAEAEE;
    padding-bottom: 25px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav a {
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: #555555;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.footer-nav a:hover {
    color: #007bff;
    text-decoration: underline;
    font-weight: bold;
}

.connect-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.connect-form h2 {
    font-family: Source Serif Pro;
    font-size: 18px;
    font-weight: 800;
    line-height: 20.05px;
    letter-spacing: 0.16em;
    text-align: left;
    text-transform: uppercase;
}

.connect-form p {
    font-family: Source Serif Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.04px;
    text-align: left;
    color: #555555;
}

.next {
    position: relative;
    top: -48px;
    left: 260px;
    width: 36px;
    height: 36px;
    color: #FFFFFF;
    background-color: #7247CA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.next:hover {
    background-color: #8e72c7;
    transition: all 0.2s ease-in-out;
}

.next:active {
    transform: translateY(3px);
    background-color: #8e72c7;
}

.connect-form input {
    width: 300px;
    height: 39px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media p {
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.54px;
    text-align: left;
    color: #222222;
    padding-top: 70px;
    padding-bottom: 24px;
}
.social-icons{
    display: flex;
    gap: 20px;
    padding-bottom: 40px ;
}
.social-icons img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
/* menu responsiv */
.menu {
    display: none;
    padding: 35px;
}

.menu-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.menu-mobile.active {
    transform: translateY(0);
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.mobile-header .close {
    cursor: pointer;
}

.mobile-nav {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.mobile-nav a {
    text-decoration: none;
    color: black;
    font-family: Source Serif Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.54px;
    letter-spacing: 0.16em;
    text-align: left;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.mobile-nav a:hover {
    color: #007bff;
    transform: scale(1.1);
    border-bottom: 1px solid #007bff;
    padding-bottom: 2px;
}

.donate {
    display: flex;
}

@media (max-width: 700px) {

    header ul {
        display: none;
    }
    header h1{
        padding-top: 20px;
    }
    .menu {
        display: flex;
        position:absolute;
        top: 0;
        right: 0;
    }

    header .menu-mobile {
        display: block;
    }

    header .menu {
        display: inline-block;
    }

    header .nav {
        display: none;
    }
    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    header {
        width: 100%;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        margin-left: 0;
        font-size: 24px;
        text-align: center;
    }

    header ul {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .main-image > img {
        width: 140px;
        height: 140px;
    }

    .main-image h2 {
        font-size: 22px;
    }

    .player {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .subscribe h2 {
        font-size: 14px;
    }

    .episodes {
        margin-top: 60px;
    }

    .episode {
        padding-bottom: 30px;
    }

    .pagination {
        width: 100%;
        justify-content: left;
    }

    .pagination div {
        width: 24px;
        height: 24px;
    }

    .team {
        flex-direction: column;
        gap: 30px;
    }

    .team-member h3, .team-member p {
        font-size: 16px;
        text-align: left;
    }

    .posts-title {
        font-size: 20px;
        text-align: left;
    }

    .latest-post {
        padding-top: 40px;
    }

    .post {
        flex-direction: column;
        align-items: left;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
        align-items: left;
    }

    .connect-form input {
        width: 100%;
    }

    .social-media p {
        padding-top: 30px;
    }
}